body {
    background-color: #202020;
    margin: 0;
}
.navigation {
    margin: 0 auto;
    width: 1140px;
    padding-top: 20px;
}
.mega-logo {
    position: relative;
    top: 15px;
    width: 10%;
    text-align: center;
}
.navigation > div {
    display: inline-block;
    margin-left: -3px;
}
.menu-bar {
    margin: 0px;
}
.menu-bar > li {
    display: inline-block; 
    color: #ffffff;
    list-style-type: none;
    padding: 1rem 0.5rem;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    margin-right: 25px;
    font-weight: 400;
}
.logo {
    display: inline-block;
}
.menu-nav {
    width: 80%;
    text-align: center;
}
.user-info {
    width: 10%;
    text-align: center;
}
.shopping-bag > i{
    font-size: 22px;
    color: white;
}
.ml-1{
    font-size: 5px;
}
.shopping-bag>div{
    display: inline-block;
    color: white;
    background-color: red;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    position: relative;
    top: -15px;
    left: -5px;
    margin-right: 11px;

}
.header-page{
    margin: 0;
    height: 100vh;
}
.banner {
    width: 1140px;
    margin: 0 auto;
    position: relative;
    padding-top: 200px;
   
}
.social-banner{
    text-align:center;
    font-size: 22px;
    color:white;
    display: block;
    width: 150px;
    position: absolute;
    top: 380px;
    left: 20px;

}
.social-banner i{
    display: block;
    margin: 30px;
}
.hamburger>img{
    position: absolute;
    top: 650px; 
    text-align: inherit;
}
.pizza>img{
    position: absolute;
    top: 250px;
    width: 30%;
    left:1490px;
    
}
.salat>img{
    width: 75%;
}
.text-1{
    font-family: Roboto, sans-serif;
    opacity: 0.7;
    font-size: 18px;
    color:rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
}
.text-2{
    font-family: Grand Hotel, cursive;
    color: white;
    font-size: 50px;
    padding: 0 76px;
    text-align: center;
    line-height: 90px;

}
.text-3{
    color: #ffffff;
    font-size: 15px;
    opacity: 0.7;
    font-family: Roboto, sans-serif;
    line-height: 30px;
    text-align: center;
    padding-top: 30px;


}

.pizza-new {
    width: 300px;
    position: absolute;
    right: -80px;
    top: 30%;
}
.lapatka {
    position: absolute;
    bottom: 50px;

}
.lapatka img {
    width: 150px;
}
.mini-pizza {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 150px;
    left: -70px;
}
.listiki {
    position: absolute;
    width: 150px;
    height: 150px;
    top: 150px;
    right: -70px;
}
.txt {
    width: 500px;
    
    margin: 0px auto 90px;
}
.src {
    width: 800px;
    height: 50px;
    background-color:#2d2d2d;
    border-radius: 35px;
    margin: 0 auto 0;
    padding: 10px;

}
.contact-from>div{
    display: inline-block;
    padding: 10px;
}
.location{
    font-size: 26px;
    color:  #595959;
}
.address>input{
    border: none;
    color:  #595959;
    background-color: #2d2d2d;
    font-size: 18px;
    width: 460px;
    border: solid 2px transparent;
    height: 30px;
    
}
.main-btn{
    background-color: red;
    border-radius: 45px;
    float: right;
    width: 30%;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right,#fc2547 0%, #ff5a00 50%, #fc2547 100%);
    
}
.main-btn>a{
    text-decoration: none;
    color: white;
    line-height: 30px;
}
.new-gallery{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #191919;
    margin:0 auto;

}
.gallery{
    width: 1140px;
    margin: 0 auto;
}
.tray>div{
    display: inline-block;
    vertical-align: top;
}
.info-food{
    color: white;
    width: 400px;
}
.mini-servis>div{
    display: inline-block;
    width: 200px;
    height: 200px;
    text-align: center;
    font-size: 30px;
    color: white;

}
.icon-pizza>i{
    color: #fc2547;
}
.sub-heading{
    color: #fc2547;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}
.headding{
    color: #ffffff;
    font-family: 'Grand Hotel', cursive;
    font-size: 42px;
    margin-bottom: 50px;
}
.portfolio-item{
    display: inline-block;
    position: relative;
    margin-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
    
}
.portfolio-item:hover .item-main>img{
    transform: scale(1.1);
}
.portfolio-item:hover .item-info>h4{
    color: #fc2547;
}
.item-main>img{
    transition: 1s;
}
.portfolio-area{
    padding-top: 120px;
}
.item-main{
    position: relative;
    overflow: hidden;

} 
.item-bage{
    width: 80px;
    height: 52px;
    background-image:linear-gradient(to right,#fc2547 0%, #fc2547 50%, #fc2547 100%);
    border-radius: 50%;
    position: absolute;
    padding-top: 39px;
    top: -33px;
    right: -19px;
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: block;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
.item-star>li{
    list-style: none;
    display: inline-block;
    color: #ffc13c;
    margin-bottom: 0;
}
.item-name{
    display: inline-block;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 0;
    transition: .5s;
}
.item-info>ul{
    display: inline-block;
    list-style: none;
    margin-top: 0;
    float: right;
    margin-bottom: 0;
} 
.text{
    font-family: Roboto, sans-serif;
    font-size: 16px;
    color: #ffffff;
    opacity: .7;
    margin: 5px 0 ;
    line-height: 1;
    
}
.item-link{
    text-decoration: none;
}
i.fa-star { 
    font-size:13px;
    margin:0 1px;
}
.portfolio-item-info{
    padding: 20px;
    background-color: black;
    margin: -5px 0;
}
.item-info{
    height: 25px;
}
.delivery-service{
    width: 540px;
    margin: 60px auto 0;
    padding: 10px 35px;
    text-align: center;
    background: linear-gradient(93deg, rgba(248,40,68,1) 0%, rgba(249,63,44,1) 50%, rgba(249,88,8,1) 100%);
    border-radius: 50px;
}
.delivery-service a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}